{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #000;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #e50914;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #fff;
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #444;
    }

    th {
        background-color: #e50914;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }

    tr:nth-child(even) {
        background-color: #111;
    }

    img {
        max-width: 100px;
        max-height: 100px;
        display: block;
        margin: 0 auto;
    }

    a {
        color: #e50914;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    /* Adjust padding to avoid footer overlap */
    .container {
        padding-bottom: 100px; /* Add padding to avoid overlap with the footer */
    }

    /* Make the table scrollable */
    .table-container {
        max-height: 500px; /* Adjust this value as needed */
        overflow-y: auto;
    }

    table th, table td {
        white-space: nowrap; /* Ensure no text wrapping within cells */
    }
</style>

<div class="container">
    <h1>Student List</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    {% comment %} <th>Year</th> {% endcomment %}
                    <th>Contact</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    {% comment %} <td>{{ student.year }}</td> {% endcomment %}
                    <td>{{ student.contact }}</td>
                    <td>
                        {% if student.image %}
                        <img src="{{ student.image.url }}" alt="Student Image">
                        {% else %}
                        No image
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p><a href="{% url 'student' %}">&lt;--- GO BACK</a></p>
</div>
{% endblock %}
